---
import Layout from "../layouts/Layout.astro";
import Banner from "../sections/Banner.astro";
import SectAbility from "../sections/SectAbility.astro";
import SectLandingPerson from "../sections/SectLandingPerson.astro";
import SectSpecialEd from "../sections/SectSpecialEd.astro";
---

<Layout title="Apex Legends">
	<main>
		<Banner />
		<SectLandingPerson />
		<SectAbility />
		<SectSpecialEd />
	</main>
</Layout>
