---

---

<nav>
    <a href="">info</a>
    <a href="">abilities</a>
    <a href="">publishing</a>
</nav>

<style>
    nav {
        display: flex;
        gap: 2rem;
        padding-block: 2rem;
    }
    a {
        color: white;
        font-size: 2rem;
        line-height: 1;
        transition: 0.3s;
    }
    a:hover {
        color: #c2dc49;
    }
</style>
