---
import thumbnail from "../assets/img/images/octane.png";
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import myBackground from "../assets/img/images/section2-bg.png";

const optbg = await getImage({ src: myBackground, format: "webp" });
---

<section style={`background-image: url(${optbg.src});`}>
    <div class="thumbnail">
        <Image class="img" src={thumbnail} alt="Octane" />
        <div class="caption">
            <span class="label">caption</span>
            <i class="info">Actual apperiense of this Character</i>
        </div>
    </div>
    <div class="about">
        <h2>Octane</h2>
        <p class="status">Fast Idiot</p>
        <p class="description">
            Знакомьтесь - это Октейн, <span class="censure"
                >самый быстрый человек на фронтире.</span
            >
            Пришел в игры Апекс за острыми ощущениями и показать себя. По праву считаетсясамым
            экстремальной легендой и вот почему...
        </p>
        <a href="" class="on-detail">detail...</a>
        <div class="footer">
            <i>добавлен в игру 12 апреля 2019</i>
        </div>
    </div>
    <div class="resume">
        <p class="line"><strong>Real Name:</strong>Octavio Silva</p>
        <p class="line"><strong>Real Name:</strong>Octavio Silva</p>
        <p class="line"><strong>Real Name:</strong>Octavio Silva</p>
        <p class="line"><strong>Real Name:</strong>Octavio Silva</p>
        <p class="line"><strong>Real Name:</strong>Octavio Silva</p>
        <p class="line"><strong>Real Name:</strong>Octavio Silva</p>
    </div>
</section>

<style lang="scss">
    section {
        display: flex;
        color: white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        & > * {
            flex: 1 1 30%;
        }
    }
    .thumbnail {
        flex: 0 0 610px;
        display: grid;
        .caption {
            padding: 1.5rem;
            background-color: var(--c-bg);
            border-radius: 20px 20px 0 0;
        }
        .label {
            font-size: 25px;
            font-style: italic;
            color: #464444;
            margin-right: 19px;
        }
        .img {
            width: 575px;
            height: auto;
            margin: auto;
        }
    }
    .about {
        padding: 110px 30px 50px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        color: var(--c-bg);
        h2 {
            font-size: 50px;
            letter-spacing: 15px;
            text-transform: uppercase;
        }
        .status {
            color: #636363;
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 3px;
        }
        .description {
            color: #c2dc49;
            font-size: 25px;
            line-height: 2;
            letter-spacing: 2.5px;
        }
        .censure {
            background-color: #c2dc49;
        }
        .on-detail {
            color: #3c6628;
            font-size: 30px;
        }
        .footer {
            font-size: 25px;
            flex: 1 1 auto;
            display: flex;
            align-items: flex-end;
            flex-direction: row-reverse;
        }
    }
    .resume {
        background-color: var(--c-bg);
        padding: 30px;
        display: grid;
        align-content: center;
        gap: 30px;
        font-size: 25px;
    }
</style>
